ul,
ol {
    list-style: none;
    padding-left: 0;

    li {
        display: block;

        + li {
            margin-top: 0.5em;
        }

        body.with-sidebar & {
            background: grey;
        }
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover;
    }

    li > a:hover {
        background: green;
    }
}

.content {
    width: $content-width;

    .col-left {
        width: $col-left;
    }

    .col-right {
        width: $col-right;
    }

    @include make_link_darker(green, 20%);
}
